<!doctype html>
<html>
  <head>
    <title>Madlib Generator</title>
  </head>
  <body>

    <form action="/madlib">
      
      <form>
      <label>Give us a name:</label>
      <input type="text" name="person">
      </form>

      <form>
      <label>Select a color</label>
      <select name="color">
        <option value="grey">grey</option>
        <option value="crystal-blue">crystal blue</option>
        <option value="forest-green">forest green</option>
        <option value="saddle">saddle</option>
      </select>
      </form>
    
      <form>
      <label>Select a noun</label>
      <select name="noun">
      <option value="waterbottle">waterbottle</option>
      <option value="crown">crown</option>
      <option value="humidifier">humidifier</option>
      <option value="plant">plant</option>
      </select>
      </form>

      <form>
      <label>Select an adjective</label>
      <select name="adjective">
      <option value="majestic">majestic</option>
      <option value="dashing">dashing</option>
      <option value="meaningless">meaningless</option>
      <option value="charming">charming</option>
      </select>
      </form>

      <form>
      <button type="submit">Make Madlib></button>
      </form>
    </form>
  </body>
</html>